/* shared style */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,400;1,800&family=Poppins:ital,wght@0,400;0,600;0,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
}
.btn-primary {
  border-radius: 40px;
  color: #fff;
  background: #e02c6d;
  font-weight: 700;
  font-size: 1rem;
  padding: 10px 24px;
  border: none;
}

.btn-secoundry {
}
/* header style */

/* nav style */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
}
.nav-title {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-items > ul {
  display: flex;
}

.nav-items > ul,
a {
  text-decoration: none;
  list-style: none;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
}
.nav-items > ul,
li {
  margin-left: 35px;
}

/* banner style */
.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
}

.banner-text {
  width: 500px;
}
.banner-title {
  color: #3a3a3a;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0;
}
.banner-discription {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}
.banner-img {
  background-image: url("/images/Circle\ design.svg");
  background-repeat: no-repeat;
}

.banner-img {
  width: 450px;
  height: 415px;
  padding: 25px;
}

.banner-img > img {
  width: 100%;
}

.sponsors {
  border: 2px solid red;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 35px;
  align-items: center;
}
.sponsors > img {
  width: 50px;
}

/* card-section style */
.card-heading {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

.card-section {
  padding: 50px 200px;
}

.card-title {
  color: #18191f;
  font-size: 1.5rem;
  font-weight: 500;
}

.card-price {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.5rem;
  font-weight: 400;
}

.star-icon > p {
  color: #5e6366;
  font-size: 1rem;
  font-weight: 700;
}

.card-discription {
  color: #787885;
  font-size: 1rem;
  font-weight: 700;
}
.card {
  width: 350px;
  height: 450px;
}
.card-img {
  width: 250px;
  height: 215px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  padding: 10px;
}
.fa-star {
  color: #fb8200;
}

/* featured-section style */

.featured-section {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  align-items: center;
}

.featured-img {
  width: 400px;
  height: 250px;
}

.featured-text {
  width: 500px;
}
.featured-title {
  color: #0a0826;
  font-size: 2rem;
  font-weight: 700;
}

.featured-discription {
  color: #6c6c6c;
  font-size: 1rem;
  font-weight: 500;
  margin: 10px 0;
}

.third-btn{
    background: #E02C6D;
    padding: 10px 24px;
    border: none;
}
.third-btn >a{
    color: #fff;
    font-weight: 700;

}

.footer{
    background-color: #0A0826;
    text-align: center;
    color: #fff;
    margin-top: 100px;
    padding: 50px;
}

.footer-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.footer-discription{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;

}




.footer-icon{
    display: flex;
    gap: 35px;
    justify-content: center;
}
/* reponsive style */

/* for mobile */

@media screen and (max-width: 576px) {
  .nav {
    flex-direction: column;
  }
  .banner-section {
    flex-direction: column-reverse;
  }
  .banner-text {
    margin-top: 50px;
    text-align: center;
  }
}
